<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/sidebar.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header" role="banner">
      <h1 class="logo">
        <a href="/dashboard"><span>Touche</span></a>
      </h1>
      <div class="nav-wrap">
        <nav class="main-nav" role="navigation">
          <ul class="unstyled list-hover-slide">
            <li><a href="/newRes">Create Restaurant</a></li>
            <li><a href="/addfood">Add Food</a></li>
            <li><a href="/orderlist">View Orders</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <script src="/public/js/sidebar.js"></script>
  </body>
</html>
